.list {
  display: flex;
  align-items: center;
}

.listItem {
  font-size: 24px;
  font-weight: 700;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.listItemLinkActive {
  color: crimson;
}

.listItemLink {
  &:hover {
    color: crimson;
    transition: 0.3s all;
  }
}